.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

.card {
  padding: 18px;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
}

.card:hover {
  background: #f4f4f4;
}
